%h1{:style => 'display: inline-block;'} Friends:
%div.right
  %a.pretty_button.inline{:href => '#'}
    Invite
%div.friend_wrap
  - @friends.each do |friend|
    %div.friend-box
      = image_tag "http://graph.facebook.com/#{friend['id']}/picture", :alt => friend['name']
      %p
        = friend['name']
  %div.clearfix
