%div.left_page.align_top
  %h1 Connect with Facebook...
  %div.facebook_login
    %p
      Connect with your Facebook account to share recipes with your friends!
    = link_to (image_tag 'facebook-login.png'), '/auth/facebook'
%div.right_page
  %h1 or register normally!
  = render 'form'