%div.left_page
  %h1
    = image_tag @avatarUrl
    = @name + '\'s Recipe Book'
  - if @createdRecipes
    = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes.limit(4), :type => 'created'}
%div.right_page
  - if @createdRecipes
    = render :partial => 'recipes/recipes', :locals => {:recipes => @createdRecipes.offset(4).limit(4), :type => 'rated'}