%h1
  = @user.username + '\'s Profile'
%p
  - if @user == current_user
    = link_to 'Edit Profile', edit_user_path(@user)
%h2 Recipes: 
- if @user.recipes.any?
  %ul.user_recipes
    - @user.recipes.each do |recipe|
      %li.recipe
        = link_to recipe.name, recipe
- else
  %p
    This user hasn't created any recipes yet!