body
{
  font-family: sans-serif;
}

a
{
  color: red;
}

h1
{
  font-size: 18pt;
  margin-bottom: 10px;
}

h2
{
  font-size: 16pt;
  margin-bottom: 10px;
}

h3
{
  margin-bottom: 10px;
}

.right
{
  float: right;
}

#status_bar
{
  width: auto;
  height: 25px;
  background-color: lightgray;
  margin-bottom: 10px;
  padding: 10px;
}