// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face
{
  font-family: 'Handwriting';
  src: font-url('JustTheWayYouAre.ttf');
}


body
{
  font-family: sans-serif;
}

a
{
  color: red;
  text-decoration: none;
  &:hover
  {
    color: steelblue;
    text-decoration: underline;
  }
}

p#notice
{
  padding-top: none !important;
}

div.wrap
{
  margin: 20px auto 0;
  width: 1200px;
  min-height: 800px;
  position: relative;
  z-index: 1;
  &.page
  {
    background: image-url('notebook3.png') no-repeat;

    div.right_page
    {
      padding: 100px 35px 25px 55px;
    }
  }
  &.page_both
  {
    background: image-url('notebook_both_pages.png') no-repeat;

    div.left_page
    {
      padding-top: 65px;
    }

    div.right_page
    {
      padding: 100px 50px 25px 40px;

      /*div.recipe_list
      {
        padding-left: 15px;
      }*/
    }
    
  }

  &.no_page
  {
    background: image-url('notebook_no_page.png') no-repeat;
    div.right_page
    {
      padding: 100px 50px 25px 40px;
    }
  }
  &.page_left
  {
    background: image-url('notebook_left.png') no-repeat;
  }
}

div.wall_wrap
{
  margin: 25px auto 0;
  width: 960px;
  position: relative;
  z-index: 1;
}

div.clearfix
{
  clear: both;
}

.temp
{
  padding: 5px;
  td
  {
    padding: 5px;
  }
}

.recipes
{
  margin-top: 10px;
}

div.recipe_list
{
  &.created_list, &.rated_list, &.index_list
  {
    div.recipe_picture
    {
      width: 200px;
      border: thin solid darkgray;
      //height: 235px;
      padding: 12px 12px 0px 12px;
      background-color: #fafafa;
      float: left;
      margin: 0 12px 18px 0;
      font-size: 11pt;
      a
      {
        display: block;
        margin-bottom: 5px;
      }
      img
      {
        border: thin solid lightgray;
      }
      div.recipe_bottom
      {
        height: 25px;
      }

      div.recipe_link
      {
        float: left;
        width: 150px;
      }

      &.recipe_0, &.recipe_3
      {
        -webkit-transform: rotate(2.5deg);
        -moz-transform: rotate(2.5deg);
        -ms-transform: rotate(2.5deg);
        -o-transform: rotate(2.5deg);
      }

      &.recipe_1, &.recipe_2
      {
        -webkit-transform: rotate(-2.5deg);
        -moz-transform: rotate(-2.5deg);
        -ms-transform: rotate(-2.5deg);
        -o-transform: rotate(-2.5deg);
      }
    }
  }

  &.faved_list, &.recipe_index_list, &.ingredient_list
  {
    div.recipe_picture
    {
      width: 200px;
      height: 281px;
      margin-right: 20px;
      margin-bottom: 25px;
      padding: 15px 50px 0 50px;
      float: left;
      border: none;
      a
      {
        display: block;
      }
      img
      {
        border: thin solid darkgray;
      }
      &.recipe_0
      {
        background: image-url('postit_yellow.png') no-repeat;
      }
      &.recipe_1
      {
        background: image-url('postit_blue.png') no-repeat;
      }
      &.recipe_2
      {
        background: image-url('postit_green.png') no-repeat;
      }
      &.recipe_3
      {
        background: image-url('postit_orange.png') no-repeat;
      }
    }

    div.overlay
    {
      width: 300px;
      height: 300px;
      background: image-url('overlay-bg.png');
      position: absolute;
      z-index: 2;
      display: none;
      color: white;
      border-bottom-right-radius: 400px 30px;
      -webkit-border-bottom-right-radius: 400px 30px;
      a
      {
        display: block;
        position: absolute;
        width: 100%;
        height:100%;
        z-index: 2;
        text-indent: -9999px;
      }
    }

    div.has_overlay
    {
      padding: 0 !important;
      width: 300px;
      height: 300px;
    }

    div.recipe_picture_content
    {
      padding: 15px 50px 0 50px;
      height: 100%;
      z-index: 1;
    }

  }

  &.faved_list
  {
    &.recipe_0
    {
      background: image-url('postit_yellow.png') no-repeat;
      -webkit-transform: rotate(-2deg);
    }
    &.recipe_1
    {
      background: image-url('postit_blue.png') no-repeat;
      -webkit-transform: rotate(2deg);
    }
    &.recipe_2
    {
      background: image-url('postit_green.png') no-repeat;
      -webkit-transform: rotate(-2deg);
    }
    &.recipe_3
    {
      background: image-url('postit_orange.png') no-repeat;
      -webkit-transform: rotate(2deg);
    }
  }
}

div.inner
{
  h1
  {
    margin-bottom: 0;
  }
  h2
  {
    padding-top: 8px;
  }
  p
  {
    font-family: 'Handwriting';
    padding-top: 12px;
  }
}

div.left_page
{
  /*Defaults*/
  width: 550px;
  padding: 75px 0 25px 50px;
  max-height: 750px;
  float: left;

  &.align_top
  {
    padding-top: 100px;
  }
  
  div.recipe_list
  {
    padding: 25px 58px 0 12px;

    &.index_list
    {
      padding: 20px 58px 0 12px;
    }

    .recipe_1, .recipe_3
    {
      margin-top: 6px;
    }

    .recipe_2
    {
      margin-top: 4px;
    }
  }

  div.second_page
  {
    padding: 0 55px 0 5px;
  }

  div.recipe_desc
  {
    height: 400px;
    line-height: 20.333pt;
  }

  img.detail_pic
  {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    margin: 0 0 15px 175px;
  }

  div.recipe_image
  {
    height: 282px;
  }
}

div.right_page
{
  width: 510px;
  float: left;

  div.recipe_list
  {
    //Default padding
    padding: 25px 5px 0 15px;

    &.index_list
    {
      padding: 25px 5px 0 15px;
    }

    &.created_list, &.rated_list
    {
      padding: 0;
    }

    .recipe_2
    {
      margin-top: 10px;
    }
  }

  &.show_page, &.edit_page
  {
    padding: 110px 50px 25px 40px !important;
  }

  h1
  {
    display: inline-block;
  }

  div.right_page_inner
  {
    margin-left: 10px;
    max-height: 600px;
    overflow: scroll;
  }
  div.ingredients
  {

  }
}

div.turn_page, div.turn_recipe_page, div.recipe_book_page_turn
{
  position: absolute;
  right: 52px;
  bottom: 38px;
  height: 150px;
  width: 150px;

  &.backward
  {
    display: none;
    left: 54px;
  }

  a
  {
    text-indent: -9999px;
    display: block;
    height: 150px;
    width: 150px;
    &:hover
    {
      cursor: pointer;
    }
  }
}

div.turn_recipe_back
{
  position: absolute;
  float: left;
  bottom: 38px;
  left: 52px;
  a{
    text-indent: -9999px;
    display: block;
    height: 150px;
    width: 150px;
    &:hover
    {
      cursor: pointer;
    }
  }
}

div.tape
{
  background: image-url('tape.png') no-repeat;
  width: 117px;
  height: 37px;
  position: relative;
  display: inline-block;
  &.left-tape
  {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
  }
  &.bottom-tape
  {
    top: -55px;
    left: 110px;
  }
  &.top-tape
  {
    top: -245px;
    left: 295px;
  }
}

form.edit_recipe, form.new_recipe
{
  input[type='text'], textarea
  {
    border: 0;
    outline: none;
    padding: 0px;
    font-size: 12pt;
    background: none;
    margin: 0;
    //font-family: 'Handwriting';
  }

  div.new_ingredients, div.edit_ingredients
  {
    padding-top: 11px;

    label
    {
      margin-bottom: 5px;
    }
  }

  input[type='text']
  {
    width: 200px;
  }

  select
  {
    margin: 0;
  }

  div.field
  {
    height: 56px;

    div.input_wrap
    {
      padding: 10px 0 0 5px;
    }
  }

  div.ingredient
  {
    height: 17px;
    padding-top: 11px;
  }

  div.prepartation
  {
    padding-top: 11px;

    textarea
    {
      padding-top: 9px;
      line-height: 27px;
      height: 300px;
    }
  }

  div.image_field
  {
    height: 310px;
  }

  div.empty_image
  {
    height: 225px;
    width: 300px;
    border: thin dashed black;
    margin: 0 0 15px 175px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);

  }
}

div.pencil
{
  background: image-url('pencil2.png') no-repeat;
  width: 685px;
  height: 51px;
  position: absolute;
  z-index: 3;
  left: -100px;    
  top: 400px;
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

div.second_page
{
  display: none;
}

div.bookmark
{
  background: image-url('bookmark.png') no-repeat 0 0;
  width: 53px;
  height: 165px;
  right: 82px;
  top: 23px;
  position:absolute;
  z-index: 3;

  &.hovered, &.forked
  {
    background-position: -54px 0;
    cursor: pointer;
  }
  a
  {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
  }
}

div.user_page
{
  div.recent
  {
    h2
    {
      margin-bottom: 10px;
      text-align: center;
    }
    float: left;
    padding: 0 5px 0 10px;
  }
  div.recipe_list
  {
    //float: left;
    width: 230px;
  }
}

div.tooltip
{
  background: image-url('overlay-bg.png');
  width: 42px;
  height: 13px;
  border-radius: 5px;
  color: white;
  font-size: 10pt;
  padding: 5px;
  position: relative;
  top: -3px;
}