// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_recipes
{
  li
  {
    padding-left: 5px
  }
}

div.left_page.user_page
{
  h1
  {
    display: inline-block;
  }
}

.friend-box
{
  float: left;
  height: 100px;
  width: 250px;
  overflow: hidden;
  padding: 5px;
}

path:hover
{
  cursor: pointer;
}