%div.footer
  %div.left
    %ul
      %li
        = link_to 'Home', root_url
      %li
        = link_to 'Search', '/search'
      %li
        = link_to 'Recipes', recipes_url
  %div.right
    copyright blah blah